*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'uber', sans-serif;
}
body{
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #121212;
    color: #fff;
}
.container{
    width: 450px;
    text-align: center;
    background: #2F4F4F;
    padding: 30px;
    border-radius: 10px;
    border: 2.5px solid #fff;
}
.container h1{
    color: #fff;
    font-size: 22px;
    margin-bottom: 20px;
}
input[type="text"]{
    width: 70%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
}
button{
    padding: 10px 20px;
    border: none;
    outline: none;
    background: #ff0000;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: all 0.3s ease;
}
button:hover{
    background: #00ffbb;
    transform: scale(1.02);
}