*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'uber', sans-serif; 
}
body{
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: #376072; 
}
.container{
    display: flex;
    flex-direction: column;
    padding: 28px 32px;
    border-radius: 12px;
    border: 2px solid #ffffff;
    background: #000000;
}
.container h1{
    margin-block: 2px;
    font-size: 1.5rem;
}
.passBox{
    width: 300px;
    outline: none;
    border: none;
    padding: 10px;
    margin-block: 8px;
    border-radius: 50px;
    font-size: 12px;
    color: #000000;
    border: 2px solid #376072;
    background-color: #ffffff;
}
.passwordBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 12px;
}
.passwordBox p{
    flex-basis: 100%;
    font-size: 1.2rem;
}
.pass-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 6px;
}
.pass-text label{
    font-size: 1rem;
}
.pass-text input[type="checkbox"]{
    width: 20px;
    height: 20px;
}
.genBtn{
    padding: 10px;
    margin-block: 8px;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 1.3rem;
    font-weight: 600;
    color: #ffffff;
    background: #376072;
    border: 2px solid #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.genBtn:hover{
    background: #ffffff;
    color: #000000;
    border: 2px solid #000000;
}