*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'uber', sans-serif; 
}
body{
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: #376072; 
}
.container{
    display: flex;
    flex-direction: column;
    padding: 28px 32px;
    border-radius: 12px;
    border: 2px solid #ffffff;
    background: #43014f82;
}
.container h1{
    margin-block: 2px;
    font-size: 1.5rem;
}
.passBox{
    width: 300px;
    outline: none;
    border: none;
    padding: 10px;
    margin-block: 8px;
    border-radius: 50px;
    font-size: 12px;
    color: #000000;
    border: 2px solid #000000;
    background-color: #ffffff;
}
.passwordBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 12px;
}
.passwordBox p{
    flex-basis: 100%;
    font-size: 1.2rem;
}