*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c0a6d9;
}
.container{
    width: 350px;
    height: 180px;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    background: #76c2bf;
    border: 2.5px solid #000;
}
.heading{
    font-size: 1.3rem;
    text-align: center;
    padding: 3px;
    margin-bottom: 15px;
    color: #ffffff;
    background: #000;
    border-radius: 50px;
}
.input-container{
    border: 3px solid #000;
    border-radius: 50px;
    margin-block: 10px;
    background: #ffffff;
}
.input-container input{
    border: none;
    outline: none;
    width: 220px;
    height: 30px;
    background: #ffffff;
    overflow: hidden;
}
.input-container:focus-within{
    border-color: #ca1414;
}