*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'uber', sans-serif;
}
body{
    color: #ffffff;
    background-color: #267777;
}
header nav{
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    border: 3px solid #000;
    z-index: 1;
}
header nav h1{
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
}
header nav form{
    display: flex;
    justify-content: center;
}
form input[type="text"]{
    border: none;
    outline: none;
    flex-grow: 1;
    margin-right: 5px;
    border-radius: 50px;
    padding: 8px;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    background-color: #ffffff;
    border: 2px solid #ff4400;
}
form button[type="searchBtn"]{
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px;
    color: #ffffff;
    background-color: #ff4400;
    border-radius: 50px;
    border: 2px solid #ffffff;
    cursor: pointer;
    transform: background-color 0.2s ease;
}
form button[type="searchBtn"]:hover{
    background-color: #267777;
}
.recipe-container{
    margin-top: 25px;
    text-align: center;
}


/* Responsive Design started */
@media screen and (max-width:600px){
    header nav{
        flex-direction: column;
    }
    header nav form{
        width: 60%;
        margin-top: 20px;
    }
}
/* Responsive Design ended */