* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
:root {
  --orange: #ff2a00;
  --gradient: linear-gradient(90deg, #fff000, #FF4500);
}
body {
  background-color: #fffaf0;
}
html{
  overflow-x: hidden;
}
.navbar {
  width: 100%;
  padding: 5px 5%;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  z-index: 10;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links{
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav-links a{
  padding: 5px 8px;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  background:
    linear-gradient(white, white),
    var(--gradient);
  border: 2px solid transparent;
  border-radius: 50px;
  transition: all 0.3s ease;
  text-decoration: none;
}
.nav-links a:hover{
  color: white;
  background:
    var(--gradient) padding-box,
    var(--gradient) border-box;
}
.dropdown{
  position: relative;
}
.dropdown-menu{
  position: absolute;
  top: 40px;
  left: 0;
  background: var(--orange);
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  display: none;
  flex-direction: column;
  min-width: 150px;
}
.dropdown-menu a{
  padding: 10px 15px;
  color: white;
  background: none;
  border: none;
  text-align: left;
  width: 100%;
}
.dropdown-menu a:hover {
  background: rgba(157, 151, 151, 0.844);
}
.dropdown:hover .dropdown-menu{
  display: flex;
}
.logo{
  cursor: pointer;
  transition: transform 0.3s ease;
}
.logo:hover{
  transform: scale(1.1);
}
.logo img{
  height: 80px;
}

.cart-btn{
  padding: 8px 15px;
  font-weight: 600;
  font-size: 22px;
  color: #000000;
  background:
    linear-gradient(white, white) padding-box,
    var(--gradient) border-box;
  border: 3px solid transparent;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;;
}
.cart-btn:hover {
  color: white;
  background:
    var(--gradient) padding-box,
    var(--gradient) border-box;
}
.hamburger {
  font-size: 28px;
  cursor: pointer;
  display: none;
}

section{
  min-height: 100vh;
}



/* Hero Section Started */
.hero{
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}
.carousel{
  width: 100%;
  height: 100%;
}
.carousel-track{
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}
.carousel-track img{
  width: 100%;
  height: 150%;
  object-fit: cover;
  overflow: hidden;
  align-items: center;
}
.slide{
  min-width: 100%;
  height: 100%;
  position: relative;
}
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(0,0,0,0.55),
    rgba(0,0,0,0.55)
  );
  z-index: 1;
}

.hero-caption{
  position: absolute;
  inset: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 0 20px;
}
.hero-caption h1{
  font-size: 4rem;
  margin-top: 20px;
}
.hero-caption p{
  font-size: 1.2rem;
  margin: 20px 0 40px 0;
}
.shopping-btn{
  display: flex;
  position: relative;
  gap: 20px;
}
.shopping-btn .shop-btn{
  padding: 12px 25px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
}
.shop-btn{
  background: var(--gradient);
  color: white;
}
.shop-btn:hover{
  background: white;
  color: var(--orange);
}
.explore-btn{
  padding: 8px 15px;
  font-weight: 600;
  font-size: 22px;
  color: #000000;
  background:
    linear-gradient(white, white) padding-box,
    var(--gradient) border-box;
  border: 3px solid transparent;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;;
}
.explore-btn:hover{
  background: var(--orange);
  color: white;
  border: 3px solid #fff000;
}

.control{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  background: rgba(255, 255, 255, 0.422);
  border: none;
  color: white;
  font-size: 1rem;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 50%;
}
.control:hover{
  background: var(--gradient);
}
.prev {left: 20px;}
.next {right: 20px;}

.indicators{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 3;
}
.dot{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition: background 0.3s ease;
}
.dot.active{
  background: linear-gradient(90deg, #fff000, #FF4500);
}

section{
  section{
  min-height: 100vh;
  padding: 10rem 15%;
} 
}

/* Scroll Bar Section Started*/
::-webkit-scrollbar{
  width: 12px;
  max-height: 50px;
}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: #e9dc2a;
}
::-webkit-scrollbar-track{
  background: #d67551;
}
/* Scroll Bar Section Ended*/

/* Shopping Section Started */
.shopping-section{
  padding: 10rem 10%;
  background: #c3c0b9a1;
}
.shopping-section h2{
  text-align: center;
  font-size: 3rem;
  margin-bottom: 40px;
}
.product-card{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.product-items{
  width: 300px;
  height: auto;
  background: white;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  overflow: hidden;
}
.product-card img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.product-card img:hover{
  transform: scale(1.1);
}
.product-card h3{
  font-size: 1.5rem;
  margin: 15px;
}
.product-card p{
  width: 30%;
  font-size: 1rem;
  margin: 0 15px 15px 15px;
  border: 2px solid #161414;
  border-radius: 50px;
  padding: 5px;
  color: #333232;
}
.product-btn{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 8px;
}
.product-btn button{
  padding: 8px 12px;
  color: #fff;
  background: var(--gradient);
  font-size: 16px;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
}
/* Shopping Section ended */


/* Categories Section Started */
.categories-section {
  padding: 10rem 10%;
}
.section-header{
  text-align: center;
  margin-bottom: 40px;
}
.section-header h2{
  font-size: 3rem;
}
.category-item{
  width: 300px;
  height: auto;
  background: white;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}
.category-item img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.category-item:hover{
  transform: scale(1.05);
}
.category-item h3{
  font-size: 1.5rem;
  margin-top: 15px;
  color: #333;
}


/* Categories Section ended  */