* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #ffffff;
}

:root {
  --orange: #ff2a00;
  --gradient: linear-gradient(90deg, #fff000, #FF4500);
}

/* ================= NAVBAR ================= */
.navbar {
    height: 100px;
    padding: 30px 40px;
    background-color: #FFFAFA;
    box-shadow: 1px 1px 0px rgba(0,0,0,0.1);
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
  padding: 6px 0;
}

.nav-links a:hover {
  background: white;
  border-bottom: 3px solid transparent;
  background-image:
    linear-gradient(white, white),
    var(--gradient);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 5px;
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 36px;
  left: 0;
  background: white;
  min-width: 160px;
  border-radius: 6px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  display: none;
  flex-direction: column;
}

.dropdown-menu a {
  padding: 12px 15px;
}

.dropdown-menu a:hover {
  background: #fff3e8;
  color: var(--orange);
}

.dropdown:hover .dropdown-menu {
  display: flex;
}
.logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--orange);
}




/* Gradient Button */
.gradient-btn {
  padding: 8px 15px;
  font-weight: 600;
  color: #222;
  background:
    linear-gradient(white, white) padding-box,
    var(--gradient) border-box;
  border: 2px solid transparent;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.gradient-btn:hover {
  color: white;
  background:
    var(--gradient) padding-box,
    var(--gradient) border-box;
}

/* Hamburger */
.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 900px) {
  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    gap: 20px;
    padding: 25px 0;
    display: none;
    border-bottom: 3px solid transparent;
    background-image:
      linear-gradient(white, white),
      var(--gradient);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
