*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2c3e50;
    font-family: 'Poppins', sans-serif;
}
h1{
    color: #ffffff;
    font-size: 3em;
}
span{
    display: inline-flex;
    align-items: center;
    color: #ff0000;
}
span::after{
    content: '';
    display:inline-block;
    width: 3.5px;
    height: 60px;
    background-color: #ffe100;
    margin-left: 4px;
}