*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'uber', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#240926;
}
.calculator{
    width: 380px;
    height: 500px;
    padding: 20px;
    border: 2px solid #e4dfdf;
    border-radius: 12px;
    background: #000000;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}
input{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    padding: 30px;
    margin-right: 10px;
    color: #fff;
    text-align: right;
    font-size: 30px;
    border: 0.5px solid #fff;
    border-radius: 50px;
    background: #3d3434;
    box-shadow: rgba(84, 84, 84, 0.1);
    /* cursor: pointer; */
}
input::placeholder{
    color: #fff;
}
button{
    width: 60px;
    height: 60px;
    margin: 10px 10px;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 24px;
    color: #fff;
    background: #000000;
    border: 1px solid #fff;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
    cursor: pointer;
    transition: all 0.3s ease;
}
.equalBtn{
    background: #f65409;
}
.operator{
    color: #f65409; 
}