*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'uber', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
}
.calculator{
    width: 400px;
    height: 450px;
    padding: 20px;
    border: 2px solid #e4dfdf;
    border-radius: 12px;
    background: #240926;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}
input{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 24px;
    text-align: right;
    padding-right: 10px;
    color: #fff;
    background: #000000;
    margin-bottom: 20px;
}
