*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'uber', sans-serif;
}
body{
    background: #738e83;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
}
.status-container{
    display: flex;
    padding: 30px;
    color: #ffffff;
    border-radius: 12px;
    border: 2px solid #000000;
    background-color: #090331;
}
#numbers{
    
}



