*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'uber', sans-serif;
}
body{
    background: #0a0e0d;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    margin: 100px auto 0 auto;
}
.status-container{
    width: 100%;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    color: #ffffff;
    border-radius: 12px;
    border: 2px solid #ffffff;
    background-color: #090331;
    gap: 30px;
}
.status-box{
    width: 100%;
}
.status-box span{
    font-size: 2.5rem;
    font-weight: bold;
    color: #ff3209;
}
#progressBar{
    width: 100%;
    height: 10px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #769287;
    overflow: hidden;
}
#progress{
    height: 100%;
    width: 0%;
    background-color: #652075;
    border-radius: 8px;
    transition: width 0.3s ease-in-out;
}
#numbers{
    width: 100px;
    height: 100px;
    display: flex;
    font-size: 28px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #1b6666;
}
form{
    width: 100%;
    height: 45px;
    display: flex;
    margin-top: 18px;
    gap: 10px;
}
input{
    flex: 1;
    padding: 16px;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    background-color: #352075;
    border: 2px solid #ffffff;
    border-radius: 50px;
    outline: none;
}
button{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #6e1a6d;
    color: #ffffff;
    font-size: 28px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease;
}
button:hover{
    background-color: #ff4709;
    transform: scale(1.1);
}