*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'uber', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #E0FFFF;
}
.container{
    background: #2F4F4F;
    padding: 10px 25px;
    border-radius: 10px;
    text-align: center;
    user-select: none;
}
.heading{
    padding: 5px 10px;
    font-size: 2rem;
    color: #000000;
    border-radius: 12px;
    background-color: #ffffff;
    border: 3px solid #000000;
}
.time{
    font-size: 4.2rem;
    color: #fff;
    margin: 20px 0;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.buttons button{
    padding: 10px 15px;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    background-color: #627474;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.buttons button.start{
    cursor: not-allowed;
    opacity: 0.8;
}
