*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #2d2929;
}

.stopwatch{
    display: flex;
    flex-direction: column;
}

.stopwatch{
    display: flex;
    flex-direction: column;
}

.stopwatch{
    display: flex;
    flex-direction: column;
}

.stopwatch{
    display: flex;
    flex-direction: column;
}