*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    text-align: center;
    background: #000000;
}
.container{
    width: 400px;
    height: auto;
    margin-top: 15%;
    margin-left: 40%;
    background: #808000;
    padding: 15px 30px;
    border-radius: 10px;
}
.heading{
    font-size: 1rem;
    color: #ffffff;
    background-color: #000000;
    padding: 5px 10px;
    border-radius: 6px;
}
.counter{
    font-size: 3rem;
    color: #ffffff;
}
button{
    width: 50px;
    height: 40px;
    font-size: 2rem;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;
}

.increaseBox{
    display: inline-flex;
    position: relative;
    margin-top: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
}
.changeBy{
    width: 60px;
    height: 40px;
    margin: 0px 16px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #ffffff;
    background-color: #000000;
    padding: 5px;
    font-size: 1.2rem;
}
.resetBtn{
    width: 80px;
    height: 40px;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;
}