*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    text-align: center;
    background: #000000;
}
.container{
    width: 300px;
    height: auto;
    margin-top: 15%;
    /* display: block;  */
    background: #808000;
    padding: 15px 30px;
    border-radius: 10px;
}
.heading{
    font-size: 1rem;
    color: #ffffff;
    background-color: #000000;
    padding: 5px 10px;
    border-radius: 6px;
}
.counter{
    font-size: 3rem;
    color: #ffffff;
}
.buttons{

}