*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'uber', sans-serif;
}
body{
    color: #ffffff;
    background-color: #267777;
}
header nav{
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    z-index: 1;
}
header nav h1{
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
}
header nav form{
    display: flex;
    justify-content: center;
}
form input[type="text"]{
    flex-grow: 1;
    margin-right: 15px;
}