@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
}
:root{
    --primary-color: #ff3700;
    --secondary-color: #09e4bf;
    --primary-bg-color: #100f0f;
    --secondary-bg-color: #221f1f;
    --primary-text-color: #ffffff;
    --secondary-text-color: #000000;
}
body{
    background-color: #F8F8FF;
}
a{
    font-size: 1.1rem;
    text-decoration: none;
    border: none;
    outline: none;
    color: var(--secondary-color);
}
.flex{
    display: flex;
    align-items: center;
}
li{
    list-style: none;
}
.between{
    justify-content: space-between;
}
.gap{
    gap: 3rem;
}
.wrapper{
    max-width: 1800px;
    margin: auto;
    padding-inline: 1.5rem;
}
.navbar{
    min-height: 14vh;
    background: var(--primary-bg-color);
    box-shadow: 0px 1px 3px 3px #0c0c0c0f;
}
.logo{
    font-size: 2.3rem;
    font-weight: bold;
    color: var(--secondary-color);
}
.logo i{
    font-size: 2.5rem;
    padding: 5px;
    border-radius: 50px;
    color: var(--primary-color);
    background-color: var(--primary-text-color);
}
.logo span{
    color: var(--primary-color);
}
.navigation a{
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--primary-text-color);
}
.navigation a:hover{
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
    border-radius: 5px;
}
.cart-icon{
    color: var(--primary-text-color);
    padding: 8px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    margin-right: 20px;
    position: relative;
    font-size: 18px;
}
.cart-icon .cart-value{
    top: 50%;
    right: -5px;
    width: 25px;
    aspect-ratio: 1;
    position: absolute;
    font-size: 16px;
    color: var(--primary-text-color);
    background-color: var(--primary-color);
    border-radius: 50px;
    text-align: center;
    align-content: center;
}
.btn{
    display: inline-block;
    padding: 6px 12px;
    margin-right: 18px;
    color: var(--primary-text-color);
    background: var(--secondary-color);
    font-size: 1.2rem;
    border-radius: 8px;
    transition: .3s ease-in-out;
    gap: 30px;
}
.btn:hover{
    color: var(--primary-text-color);
    background: var(--primary-color);
}
.hamburger{
    font-size: 1.2rem;
    padding: 8px;
    margin-right: 18px;
    border-radius: 5px;
    color: var(--primary-text-color);
    background: var(--secondary-color);
}
.hamburger:hover{
    background: var(--primary-color);
}
.mobile-menu{
    display: none;
}
.mobile-menu a:hover{
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
    border-radius: 5px;
}
.mobile-menu .btn:hover{
    color: var(--primary-text-color);
}
/* Home section started */
.home-section{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    min-height: calc(100vh - 14vh);
}
.home-content{
    margin-top: 10%;
    margin-left: 15%;
    text-align: left;
}
.home-content h1{
    width: 260px;
    padding: 3px;
    font-size: 28px;
    text-align: center;
    letter-spacing: 1px;
    color: var(--primary-text-color);
    border-radius: 5px;
    background-color: var(--primary-color);
}
.home-content h2{
    font-size: 35px;
    color: var(--secondary-text-color);
}
.home-content span{
    font-size: 38px;
    letter-spacing: 1.5px;
    color: var(--primary-color);
}
.home-content p{
    width: 500px;
    font-size: 20px;
    letter-spacing: 1.5px;
    color: var(--secondary-text-color);
}
.home-image{
    height: 400px;
    width: 400px;
    margin-top: 5%;
    margin-right: 15%;
    background-color: #64b6c3;
    border-radius: 50%;
}
.home-image img{
    width: 400px;
    height: 400px;
    padding: 15px;
    margin-top: -5%;
}
.buttons{
    display: flex;
    padding: 8px;
    gap: 25px;
}
.orderBtn{
    padding: 8px;
    font-size: 18px;
    border-radius: 50px;
    color: var(--primary-text-color);
    background-color: var(--secondary-color);
}
.orderBtn:hover{
    background-color: var(--primary-color);
}
.viewBtn{
    padding: 8px;
    font-size: 18px;
    border-radius: 50px;
    color: var(--secondary-text-color);
    background-color: var(--primary-color);
}
.viewBtn:hover{
    background-color: var(--secondary-color);
}
.social-icons{
    display: flex;
    padding: 8px;
    gap: 20px;
}
.social-icons i{
    width: 50px;
    height: 50px;
    padding: 8px;
    font-size: 28px;
    text-align: center;
    align-content: center;
    color: var(--primary-text-color);
    border-radius: 50px;
    background-color: var(--primary-bg-color);
    transition: all ease .3s;
}
.social-icons i:hover{
    transform: scale(1.1);
    background-color: #ff3700;
}
/* Home section ended */

/* Scroll Bar Section Started*/
::-webkit-scrollbar{
    width: 10px;
    height: 50px;
}
::-webkit-scrollbar-thumb{
    width: 15px;
    border-radius: 5px;
    background: var(--primary-bg-color);
}
::-webkit-scrollbar-track{
    background: var(--secondary-color);
}
/* Scroll Bar Section Ended*/

/* Responsive CSS for mobile devices started*/
@media screen and (max-width: 780px){
    .navigation, .actionBtn .btn{
        display: none;
    }
    .mobile-menu{
        width: 100%;
        top: 12%;
        left: 50%;
        gap: 12px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;
        font-weight: bold;
        position: absolute;
        align-items: center;
        transform: translateX(-50%);
        background: var(--secondary-bg-color);
        color: var(--primary-text-color);
    }

    .home-content{
        padding: 3rem;
    }
}
/* Responsive CSS for mobile devices ended*/