*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2d362b94;
}
.wrapper .card{
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    background: #ffeeee;
}
.card .cardImg{
    position: relative;

}
.card .cardImg img{
    width: 100%;
    padding: 10px;
    border-radius: 18px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
.card-tag{
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.9);
}
.card-title{
    font-size: 1rem;
}
.card-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
}
.card .card-profile img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-top: 10px;
    border-top: 1px solid #0000003d;
}

.card .card-profile .card-profile-info{
    display: flex;
    flex-direction: column;
}

.card-profile-name{
    font-size: 0.8rem;
}