*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'uber', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#2F4F4F;
}
.qr-container{
    width: 400px;
    padding: 30px;
    text-align: center;
    border-radius: 12px;
    background: #000000;
}
.qr-header h2{
    font-size: 28px;
    text-align: center;
    color: #ffffff;
}
.qr-header input{
    width: 100%;
    height: 35px;
    margin-block: 12px;

}
.qr-header input, select{
    padding: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 50px;
    border: 2.5px solid#00ff80;
}
.qr-header label{
    margin-top: 10px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
}
.qr-header div{
    display: flex;
    justify-content: space-between;
}
.qr-footer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}
.qr-footer a{
    padding: 10px 15px;
    font-size: 24px;
    color: #ffffff;
    background: #00ff80;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}
.qr-footer a:hover{
    background: #ff4f03;
    transform: scale(1.1);
}
.qr-body{
    display: grid;
    justify-content: center;
}
.qr-body img{
    max-width: 100%;
    max-height: 100%;
    margin-block: 10px;
    padding: 20px;
    border: 2px solid #2F4F4F;
    border-radius: 12px;
}

@media screen and (max-width:520px){
    .qr-container{
        width: 80%;
    }
    .qr-footer a{
        padding: 12px;
        font-size: 16px;
    }
}