*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'uber', sans-serif;
}
body{
    width: 100%;
    max-width: 1300px;
    overflow: hidden;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url('/img/background-image.png');
}
header{
    display: flex;
    padding: 24px 40px;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    z-index: 1;
}
.logo img{
    width: 80px;
}
nav{
    display: flex;
    gap: 45px;
}
nav a{
    text-decoration: none;
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    position: relative;
}
.viewBtn{
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background-color: #ff5e4f;
    color: #ffffff;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.viewBtn:hover{
    background-color: #3ce19c;
    transform: scale(1.02);
}
.home-section{
    margin-top: 100px;
}
.img-container{
    text-align: center;
    max-width: 1290px;
    margin: 0 auto;
}
.img-container img{
    width: 100%;
    height: 600px;
    max-width: 1290px;
    border-radius: 5px;
}