*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000d4;
    font-family:'uber', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    position: relative;
}
.form-box{
    width: 90%;
    max-width: 400px;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 8px;
    background-color: #f6fbfff3;
    border: 2px solid #00ffcc;
    padding: 15px 25px;
}
.form-box h1{
    font-size: 30px;
    text-align: center;
}
.form-box h1::after{
    content: '';
    width: 80px;
    height: 5px;
    border-radius: 5px;
    background: #00ffcc;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translate(-50%);
}

.input-group{
    padding: 10px;
}

