*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #444864;
}
.container{
    width: 350px;
    padding: 15px;
    border-radius: 8px;
    background-color: #ffffffed;
    box-shadow: 0 0 40px rgba(0, 0, 4px, 8px);
}
.form-title{
    font-size: 2rem;
    padding: 8px;
    text-align: center;
}

.form-message{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #ff0000;
}