*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'uber', sans-serif;
}
body{
    background: #20333b;
    align-items: center;
    justify-content: center;
    display: flex;
}
.container{
    width: 100%;
    max-width: 550px;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    padding: 20px 10px;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: #e0ffff;
}
.input-container{
    width: 100%;
    max-width: 500px;
    padding: 15px;
    background-color: #000000;
    border-radius: 12px;
}
.input-container h1{
    color: #ffffff;
    text-align: center;
    font-size: 35px;
}
.input-container span{
    color: #ff3a09;
    font-size: 40px;
}
.input-container input{
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    outline: none;    
}
.input-container input[type="text"]{
    width: 80%;
    height: 45px;
    margin-left: 18px;
    border-radius: 50px;
}
.input-container input[type="button"]{
    width: 55px;
    height: 55px;
    padding: 10px 5px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    color: #ffffff;
    background-color: #ff3a09;
    border: 2.5px solid #000000;
    cursor: pointer;
}
.input-container input[type="button"]:hover{
    transform: scale(1.1);  
}
ul{
    width: 100%;
    max-width: 450px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-direction: column; */
}
ul li{
    width: 100%;
    height: 45px;
    display: flex;
    padding: 15px;
    font-size: 20px;
    border-radius: 12px;
    margin-top: 15px;
    list-style: none;
    color: #000000;
    background-color: #ffffff;
    border-radius: 50px;
    border: 3px solid #000000;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
ul li p{
    flex-grow: 1;
    padding: 2px;
}
.btn{
    border: none;
    outline: none;
    font-size: 16px;
    background: none;
    font-weight: 600;
    cursor: pointer;
    padding: 8px;
}

.deleteBtn{
    color: #ff3a09;
}

.editBtn{
    color: #008000;
}
