*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}
.header{
    display: flex;
    padding: 0 4.8rem;
    height: 10rem;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}
.logo{
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
}
.navbar-list{
    display: flex;
    list-style: none;
    gap: 3rem;
}
.nav-links:link, .nav-links:visited{
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    transition: all 0.3s;
}
.nav-links:hover, .nav-links:active{
    color: #1159e9;
}
.home-section, .service-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    height: 60vh;
    background-color: #75cfd5;
}
.service-section{
    background: #6ce080;
}
p{
    color: #fff;
    font-size: 3rem;
}
.hamburgerBtn{
    cursor: pointer;
}
.hamburgerBtn i{ 
    color: #fff; 
    font-size: 2rem;
} 
.hamburgerBtn i[name="closeIcon"]{
    display: none;
}


@media (max-width: 980px){
    .hamburgerBtn{
        display: block;
        z-index: 999;
        border: 3px solid #fff;
        border-radius: 5px;
    }
    .header{
        position: relative;
    }
    .logo{
        font-size: 2rem;
    }
    .navbar{
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        background: #222d2e;
        transform: translateX(100%);
        transition: all 0.3s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .navbar-list{
        flex-direction: column;
        align-items: center;
    }
    .active .navbar{
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        pointer-events: auto;
    }
    .active .hamburgerBtn .hamburgerBtn[name="closeIcon"]{
        display: block;
    }

    .active .hamburgerBtn .hamburgerBtn i[id="openIcon"]{ 
        display: none;
    } 
}
